html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #E0E0E0;
}

div {
    background-color: #C0C0C0;
}

.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: solid #000000;
    z-index: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button {
    float: center;
    border: 1px solid #266EEB;
}

.buttonpage {
    padding: 5px 10px;
    border: 2px solid #266EEB;
    border-radius: 4px;
    font-size: 17px;
    color: #266EEB;
    text-align: center;
    display: inline-block;
    background-color: #C0C0C0;
    transition-duration: 0.5s;
    margin: 3px;
}

.buttonpage:hover {
    color: #E9E9E9;
    background-color: #266EEB;
    border: 2px solid #C0C0C0;
}