html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.buttonpage{
    padding: 5px 15px;
    border: 2px solid #2C298D;
    border-radius: 4px;
    font-size: 20px;
    color: #000000;
    text-align: center;
    display: inline-block;
    background-color: rgba(225, 225, 225, 0.8);
    transition-duration: 0.5s;
    margin: 3px;
}

.buttonpage:hover{
    color: #2C298D;
    background-color: #FFFFFF;
    border: 2px solid #2C298D;
    font-weight: bold;
}

.menu-bar{
    position: fixed;
    top: 1%;
    left: 10%;
    right: 10%;
    z-index: 1px;
    padding: 10px;
    background: rgba(225, 225, 225, 0.8);
    backdrop-filter: blur(50px);
    border-radius: 50px;
}

.buttonpage2{
    padding: 5px 15px;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 17px;
    color: #000000;
    text-align: center;
    display: inline-block;
    background-color: #CABFBF;
    transition-duration: 0.5s;
    margin: 5px;
}

.buttonpage2:hover {
    color: #4949A4;
    background-color: #CABFBF;
    border: 2px solid #000000;
}

.entry-Hi {
    position: relative;
    top: 25%;
    left: 45%;
    transform: translate(-45%, -1000%);
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    font-size: 50px;
    font: Arial, sans-serif;
}

.column-CV {
    float: left;
    width: 48%;
    background-color: #FFFFFF;
}

.row-CV:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    width: 100px;
    height: 100px;
}

.column-bottom {
    float: left;
    width: 48%;
    padding: 10px;
}

.row-bottom:after {
    content: "";
    display: table;
    clear: both;
}

.image {
    border: 0;
    text-align: center;
    justify-content: center;
}

.links{
    color: #000000;
}

/*@media (prefers-color-scheme: dark) {
    html {
        background-color: #000000;
    }

    .buttonpage{
        padding: 5px 15px;
        border: 2px solid #2C298D;
        border-radius: 4px;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
        display: inline-block;
        background-color: rgba(25, 25, 25, 0.8);
        transition-duration: 0.5s;
        margin: 3px;
    }
    
    .buttonpage:hover{
        color: #FFFFFF;
        background-color: #2C298D;
        border: 2px solid #FFFFFF;
        font-weight: bold;
    }
    
    .menu-bar{
        position: fixed;
        top: 1%;
        left: 10%;
        right: 10%;
        z-index: 1px;
        padding: 10px;
        background: rgba(25, 25, 25, 0.8);
        backdrop-filter: blur(50px);
        border-radius: 50px;
    }
    
    .buttonpage2{
        padding: 5px 15px;
        border: 2px solid #2C298D;
        border-radius: 4px;
        font-size: 17px;
        color: #CABFBF;
        text-align: center;
        display: inline-block;
        background-color: rgba(25, 25, 25, 255);
        transition-duration: 0.5s;
        margin: 5px;
    }
    
    .buttonpage2:hover {
        color: #4949A4;
        background-color: #CABFBF;
        border: 2px solid #000000;
    }

    .column-CV {
        float: left;
        width: 48%;
        background-color: #000000;
        color: #FFFFFF;
    }

    .links{
        color: #FFFFFF;
    }*/
}