html {
    height: 100%;
    width: 99%;
}

body {
    background-color: #121212;
    color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: #FFFFFF;
    }
}

.column {
    float: left;
    width: 48%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}