html, body {
    height: 100%;
    width: 99%;
}

div{
    background-color: #000000;
    cursor: none;
}
body {
    /*background: -webkit-linear-gradient(bottom, #252525, #000000, #252525);
    background: -o-linear-gradient(bottom, #000000, #252525, #000000);
    background: -moz-linear-gradient(bottom, #000000, #252525, #000000); 
    background: linear-gradient(to bottom, #000000, #252525, #000000); */
    background-color: #000000;
    cursor: auto;
}
p {
    margin-right: 15%;
    margin-left: 15%;
    color: #D0D3D4;
}
.menu-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: solid #000000;
    z-index: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: none;
}

.buttonpage{
    padding: 5px 10px;
    border: 2px solid #2C298D;
    border-radius: 4px;
    font-size: 17px;
    color: #2C298D;
    text-align: center;
    display: inline-block;
    cursor: auto;
    background-color: #000000;
    transition-duration: 0.5s;
    margin: 3px;
}
.buttonpage:hover{
    color: #E9E9E9;
    background-color: #4949A4;
    border: 2px solid #CABFBF;
}
.buttonpage2{
    padding: 5px 10px;
    border: 2px solid #2C298D;
    border-radius: 4px;
    font-size: 17px;
    color: #2C298D;
    text-align: center;
    display: inline-block;
    cursor: auto;
    background-color: #000000;
    transition-duration: 0.5s;
    margin: 3px;
}
.buttonpage2:hover{
    color: #4949A4;
    background-color: #252525;
    border: 2px solid #4949A4;
}