/* Global Styles */
:root {
    --primary-color: #2C298D;
    --accent-color: #4949A4;
    --background-color: #000000;
    --text-color: #D0D3D4;
    --font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

/* Header Navigation */
header {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Adds a shadow below the header */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main Menu Styling */
.menu {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center; /* Centers the menu items horizontally */
}

/* Menu Items */
.menu > li {
    position: relative;
    margin: 0 15px;
}

.menu > li a {
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.menu > li a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Dropdown Menu */
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.dropdown .dropdown-content a {
    font-size: 16px;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown .dropdown-content a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hamburger Menu Icon */
.hamburger-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    /* Hide the regular menu items on mobile */
    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 10;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }

    /* Show the mobile menu when active */
    .menu.active {
        display: flex;
    }

    /* Adjust list items spacing for mobile */
    .menu > li {
        margin: 10px 0;
    }

    /* Show hamburger icon only on mobile */
    .hamburger-icon {
        display: block;
    }

    /* Dropdown menu on mobile */
    .dropdown .dropdown-content {
        position: static;
        background-color: rgba(0, 0, 0, 0.9);
        min-width: 100%;
        box-shadow: none;
    }
}

/* Hero Section */
.hero-section {
    background-image: url('images/sky.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 95vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensures vertical layout */
    text-align: center; /* Centers text */
    padding: 20px; /* Adds some space around the content */
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-section h1 {
    position: relative;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
    margin: 0; /* Removes any default margins */
}

.hero-section p {
    position: relative;
    z-index: 2;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 20px 0; /* Adds space between the caption and the button */
}

.hero-section .cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    z-index: 2;
    margin-top: 20px;
}

.hero-section .cta:hover {
    background-color: var(--accent-color);
}

.typing-effect {
    display: inline-block;
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    border-right: 3px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

/* About Section */
.about-section {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--background-color);
    margin: 40px 10%;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    color: #FFFFFF;
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.about-section p {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: bold;
}

/* Highlights Section */
.project-cards {
    display: grid;
/*    justify-content: center;*/
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* originally 300px */
}

.card {
    background-color: #222;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 450px;
    overflow: hidden;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

.card h3 {
    font-size: 1.9rem;
    margin-top: 10px;
}

.card p{
    font-size: 1.2rem;
}

/* CV Section */
.cv-section {
    background-color: #121212;
    padding: 50px 20px;
}

.cv-section img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
}

.cv-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cv-button {
    text-align: center;
    max-width: 200px;
}

.cv-button .btn {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.cv-button .btn:hover {
    background-color: var(--accent-color);
}

/* Footer Section */
footer {
    padding: 20px 0;
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
    margin: 0 5px;
}

footer a:hover {
    color: var(--accent-color);
}

/* Back-to-top Button */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#back-to-top:hover {
    background-color: var(--accent-color);
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Darker background to match theme */
}

.modal-content {
    background-color: var(--background-color); /* Matches site's background */
    margin: auto;
    padding: 20px;
    border: 1px solid var(--accent-color); /* Accent color border */
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Stronger shadow for emphasis */
    max-height: 80%;  /* Allow content to fit inside the modal */
    overflow-y: auto; /* Enable scrolling within modal */
}

.modal-header h2 {
    color: var(--accent-color); /* Accent color for modal title */
    margin: 0;
    margin-bottom: 1.5rem;
}

.modal-header {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;  /* Added margin to separate header from content */
}

.close {
    color: var(--text-color);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--primary-color); /* Primary color on hover */
    text-decoration: none;
    cursor: pointer;
}

.modal-body p {
    color: var(--text-color); /* Consistent text color */
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    overflow-y: auto;  /* Ensures scrolling for large text content */
    max-height: calc(100vh - 200px);  /* Adjust the height to fit within the screen */
}

/* Modal Animation */
.modal-content {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .modal-header h2 {
        color: var(--accent-color); /* Accent color for modal title */
        margin: 0;
        margin-bottom: 1rem;
        font-size: 25px;
    }

    .project-cards {
        display: grid;
    /*    justify-content: center;*/
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* normally is 400px, here 300px for narrower screens*/
    }
}