html {
    height: 100%;
    width: 99%;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

.list {
    margin-left: 10%;
}

.menu-bar {
    position: fixed;
    top: 1%;
    left: 10%;
    right: 10%;
    z-index: 1px;
    padding: 10px;
    background: rgba(225, 225, 225, 0.8);
    backdrop-filter: blur(50px);
    border-radius: 50px;
}

button {
    font-size: 17px;
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid #000099;
    border-radius: 4px;
    color: #000000;
    text-align: center;
    display: inline-block;
    background-color: #FFFFFF;
    transition-duration: 0.5s;
    margin: 3px;
}


button:hover {
    color: #000099;
    background-color: #CABFBF;
    border: 2px solid #CABFBF;
    font-weight: bold;
}

.column {
    float: left;
    width: 48%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bottom-section {
    background: rgba(225, 225, 225, 0.8);
    color: #000000;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: #FFFFFF;
    }
    
    .menu-bar {
        position: fixed;
        top: 1%;
        left: 10%;
        right: 10%;
        z-index: 1px;
        padding: 10px;
        background: rgba(34, 34, 34, 0.8);
        backdrop-filter: blur(50px);
        border-radius: 50px;
    }
    
    button {
        font-size: 17px;
        cursor: pointer;
        padding: 5px 10px;
        border: 2px solid #000099;
        border-radius: 4px;
        color:white;
        text-align: center;
        display: inline-block;
        background-color: #000000;
        transition-duration: 0.5s;
        margin: 3px;
    }
    
    button:hover {
        color: #FFFFFF;
        background-color: #000099;
        border: 2px solid #000000;
        font-weight: bold;
    }

    .bottom-section {
        background: rgba(34, 34, 34, 0.8);
        color: #FFFFFF;
    }
}