html, body {
    height: 100%;
    width: 99%;
}
body{    
    background-color: #DDC9F5
}
.button1{
    border: 5px solid #7DCEA0;
    color: #7DCEA0;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 5px 5px;
    cursor: grab;
    border-radius: 50%;
    background-color: white;
    transition-duration: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button1:hover {
    background-color: #7DCEA0;
    color: #212F3D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}