
<footer class="main-footer">
    <div class="footer-content">
        <p>© 2025 Joan Alcaide Núñez. All rights reserved.</p>
<!--        <div class="footer-links">-->
<!--            <a href="index.html">Home</a>-->
<!--            <a href="#about">About</a>-->
<!--            <a href="./research.html">Research</a>-->
<!--            <a href="#cv">CV</a>-->
<!--            <a href="music/index.html">Music</a>-->
<!--        </div>-->
        <div class="footer-socials">
            <a href="https://www.linkedin.com/in/joan-alcaide-núñez" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/joanalnu" target="_blank"><i class="fab fa-github"></i></a>
            <a href="/contact.html"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</footer>
