<head>
    <link rel="stylesheet" href="../assets/components.css">
</head>
<footer>
    <p>&copy; 2025 Joan Alcaide Núñez. All rights reserved.</p>
    <div class="social-icons">
        <a class="social-icons__link" title="GitHub" href="https://github.com/joanalnu" target="_blank" rel="me noopener">
            <div class="social-icons__icon" style="background-image: url('../images/logos/github.svg')"></div>
        </a>
        <a class="social-icons__link" title="Email" href="../contact.html" target="_blank" rel="me noopener">
            <div class="social-icons__icon" style="background-image: url('../images/logos/email.svg')"></div>
        </a>
        <a class="social-icons__link" title="LinkedIn" href="https://www.linkedin.com/in/joan-alcaide-nuñez/" target="_blank" rel="me noopener">
            <div class="social-icons__icon" style="background-image: url('../images/logos/linkedin.svg')"></div>
        </a>
    </div>
</footer>