<nav class="navbar">
    <div class="navbar-container">
        <a href="/index.html" class="navbar-logo">Joan's Space</a>

        <!-- Hamburger menu for mobile -->
        <button class="burger" aria-label="Toggle navigation">
            <span class="burger__meat"></span>
            <span class="burger__meat"></span>
            <span class="burger__meat"></span>
        </button>

        <div class="navbar-links">
            <a href="/index.html" aria-label="Home"><i class="fas fa-home"></i> Home</a>
            <a href="#research"><i class="fas fa-star"></i> Research</a>
            <a href="#achievements"><i class="fas fa-trophy"></i> Achievements</a>
            <a href="#talks"><i class="fas fa-microphone"></i> Talks</a>
            <a href="#sideprojects"><i class="fas fa-laptop"></i> Projects</a>
            <a href="#cv"><i class="fas fa-file"></i> CV</a>
            <a href="https://capibara3.github.io"><i class="fas fa-satellite"></i> CAPIBARA</a>
            <a href="/music/index.html"><i class="fas fa-music"></i> Piano</a>
            <a href="/gen10/index.html"><i class="fas fa-dna"></i> Gen10</a>
            <a href="https://www.linkedin.com/in/joan-alcaide-nuñez/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/joanalnu"><i class="fab fa-github"></i></a>
            <a href="/contact.html"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</nav>
