<head>
    <link rel="stylesheet" href="">
</head>
<!-- Floating Round Navbar -->
<nav class="navbar" id="navbar">
    <div class="nav-container">
        <ul class="nav-links" id="nav-links">
            <li><a href="/index.html"><div class="logo">Home</div></a></li>
            <li><a href="#about" class="nav-link">About</a></li>
            <li><a href="#research" class="nav-link">Research</a></li>
            <li><a href="#highlights" class="nav-link">Highlights</a></li>
            <li><a href="#projects" class="nav-link">Projects</a></li>
            <li><a href="/music/index.html" class="nav-link">Piano</a></li>
            <li><a href="/gen10/index.html" class="nav-link">Gen10</a></li>
            <li><a href="https://capibara3.github.io" class="nav-link">CAPIBARA</a></li>
            <li><a href="#contact" class="nav-link">Contact</a></li>
        </ul>
        <button class="mobile-menu-toggle" id="mobile-toggle">☰</button>
    </div>
</nav>